@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .icon-container {
    display: flex;
  }
  .description {
    font-weight: 400;
  }
  /* HEADER */
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .address {
    display: flex;
    font-style: normal;
  }
  .header-active::after {
    margin-top: 21px;
  }
  .contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    font-size: 16px;
  }
  /* HERO */
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .icon-container {
    visibility: visible;
  }
  .section-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
  /* BENEFITS */
  .benefits-section {
    padding: 120px 0;
  }
  .benefits-subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .benefits-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  /* WORKS */
  .works-section {
    display: block;
    padding-bottom: 120px;
  }
  /* TEAM */
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-card {
    width: calc((100% - 72px) / 4);
  }
  .modal {
    padding: 72px 22px 24px 24px;
  }
  /* CUSTOMERS */
  .customers-section {
    padding: 120px 0;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  /*  */
  .footer-wrap {
    gap: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
  .footer-container {
    width: 264px;
    margin-right: 120px;
  }
  /*  */
  .footer-box {
    flex-wrap: nowrap;
  }
  .footer-block {
    padding-left: 80px;
  }
}

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero@1x-desktop.webp");
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero@2x-desktop.webp");
  }
}
