@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .address {
    display: none;
  }
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* COMMON */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}
.section-title {
  color: var(--secondary-color);
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-subtitle {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.description {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-color);
}

.body-medium {
  color: var(--secondary-color, #2e2f42);
  text-align: center;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title-third {
  color: var(--secondary-color);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* HEADER */
/* LOGO */
.logo {
  /* margin-right: 76px; */
  font-family: Raleway, sans-serif;
  color: var(--brand-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo:hover {
  color: #525cc9;
}
.logo .accent {
  color: #2e2f42;
}
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SITE NAV */

.nav-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--secondary-icons-color, #404bbf);
}

.header-list .link:current {
  color: var(--brand-color);
}

.header-active::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-icons-color);
  position: absolute;
  margin-top: 25px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ADDRESS */

.contacts-link {
  color: #434455;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* mobile header */

.header-mobile-btn {
  line-height: 0;
  padding: 0;
  width: 32px;
  height: 22px;
  background-color: transparent;
  border: none;
}

.header-icon {
  width: 32px;
  height: 22px;
  stroke: #2e2f42;
}

.is-open {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal-icon {
  background-position: center;
  background-size: cover;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 796px;
  position: fixed;

  padding-top: 80px;
  padding-right: 35px;
  padding-bottom: 40px;
  padding-left: 40px;
  top: 0;
  left: 0;
  /* transform: translate(-50% -50%); */
  background-color: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.1);
  background-color: #ffffff;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  gap: 40px;
  margin-bottom: 224px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--secondary-icons-color, #404bbf);
}

.menu-active {
  color: #404bbf;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-contacts-link {
  color: #434455;
  text-decoration: none;
  font-style: normal;
}
.mobile-active {
  color: #4d5ae5;
}
.post {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
/* mobile socials */

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  max-width: 328px;
  gap: 26px;
  /* gap 56px figma */

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  text-decoration: none;
}
.mobile-socials-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--brand-color);
}
.mobile-socials-item:hover {
  background-color: var(--secondary-icons-color);
  cursor: pointer;
}

.mobile-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-socials-link:hover,
.mobile-socials-link:focus {
  background-color: var(--secondary-icons-color);
}

.mobile-socials-icon {
  width: 24px;
  height: 24px;
  fill: var(--second-background-color);
}

/* HERO */

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;

  background-color: gba(46, 47, 66, 0.7);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero@1x-mobile.webp");
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero@2x-mobile.webp");
  }
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  max-width: 320px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--brand-color, #4d5ae5);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
  background-color: #404bbf;
}
/* BENEFITS */

.benefits-section {
  padding: 96px 0;
}

.benefits-subtitle {
  text-align: center;
  margin-bottom: 8px;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.benefits-item {
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.benefits-item:not(:last-child) {
  margin-bottom: 72px;
}

.icon-container {
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--second-background-color);
  height: 112px;
}

/* WORKS */

.works-section {
  display: none;
}

.works-container {
  display: flax;
  flex-direction: column;
}

.works-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.works-item {
  width: calc((100% - 48px) / 3);
}

/* TEAM */

.team-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}
.team-list {
  width: 264px;
  margin: auto;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-card {
  margin-bottom: 72px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-name {
  margin-bottom: 8px;
}
.team-description {
  padding: 32px 16px;
  text-align: center;
}
.team-desc {
  font-weight: 400;
}
/* SOCIAL LINKS */
.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--brand-color);
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-item:hover,
.socials-item:focus {
  background-color: var(--secondary-icons-color);
  cursor: pointer;
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--secondary-icons-color);
}
.socials-icon {
  width: 16px;
  height: 16px;
  fill: var(--second-background-color);
}

/* CUSTOMERS */

.customers-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 190px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  color: var(--icon-customers-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--secondary-icons-color);
  color: var(--secondary-icons-color);
}

.customers-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon:hover,
.customers-icon:focus {
  fill: var(--secondary-icons-color);
}

/* FOOTER  */

.footer {
  padding-top: 97.5px;
  padding-bottom: 96px;
  color: #f4f4fd;
  background-color: var(--background-color);
}

.footer-container {
  margin: auto;
  max-width: 268px;
  margin-bottom: 72px;
}

.footer-socials {
  text-align: center;
  margin-bottom: 72px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.socials-link:hover,
.socials-link:focus {
  background-color: #31d0aa;
}

.footer-title {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #ffffff;

  margin-bottom: 16px;
}

.footer .socials-item {
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials-icon {
  width: 24px;
  height: 24px;
}

.footer-description {
  font-size: 16px;
  color: var(--second-background-color);
  background-color: var(--background-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-link {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.footer .accent {
  color: #f4f4fd;
}

.footer-block {
  text-align: center;
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subscribe-subtitle {
  color: #fff;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.subscribe-input {
  color: #fff;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  padding-left: 16px;
  margin-bottom: 16px;

  max-width: 398px;
  min-width: 100%;

  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid #fff;
  opacity: 0.30000001192092896;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 165px;
  min-height: 40px;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: var(--brand-color, #4d5ae5);
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--secondary-icons-color);
  cursor: pointer;
}

.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

/* BACKDROP */
/* MODAL WINDOW */

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 72px 14px 24px 16px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-backgroung-color);
  width: 100%;
  max-width: 392px;
  min-height: 584px;
  transition: delay 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  display: block;
  max-width: 392px;
  margin-bottom: 16px;
  text-align: center;
  justify-content: center;
}

.privacy-link {
  text-decoration: underline;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -70%);
  transition: delay 0ms;
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  padding: 0;

  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--secondary-icons-color);
  border: none;
  fill: #ffffff;
  border-radius: 24px;
}

.modal-icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container {
  margin-bottom: 8px;
}

.input-container:last-of-type {
  margin-bottom: 24px;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.modal-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 4px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  color: var(--light-slate-modal-text-color, #8e8f99);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-input {
  outline: transparent;
  padding: 11px 16px 11px 38px;

  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-comment:focus {
  outline: none;
  color: var(--secondary-color);
  border-color: var(--brand-color);
}

.modal-input:hover,
.modal-comment:hover {
  outline: none;
  border-color: var(--brand-color);
}

.modal-input:focus + .register-modal-icon,
.modal-input:hover + .register-modal-icon {
  fill: var(--brand-color, #4d5ae5);
}

.register-modal-icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  width: 18px;
  height: 24px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  height: 120px;
  padding: 8px 16px;

  resize: none;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

  outline: transparent;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-wrapper {
  margin-bottom: 16px;
}

.modal-form-check {
  margin-bottom: 24px;
}

.modal-check-label {
  align-items: center;
  user-select: none;
  line-height: 1.17;
}

.privacy-check-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
  color: var(--brand-color);
  cursor: pointer;
}

.modal-form-check:checked ~ .modal-check-label .privacy-check-wrapper {
  fill: var(--second-background-color);
  border: none;
  background-color: var(--secondary-icons-color);
}

.submit {
  display: block;
  margin: 0 auto;

  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  color: #ffffff;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  text-align: center;
  background-color: var(--brand-color, #4d5ae5);

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:hover,
.submit:focus {
  background-color: var(--secondary-icons-color);
  cursor: pointer;
}
