@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  /* HEADER */
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
  }
  .header-active {
    color: #404bbf;
  }
  .nav-item {
    margin-right: 40px;
  }
  .header-mobile-btn {
    display: none;
  }
  .address {
    margin-left: auto;
    font-style: normal;
    text-align: center;
  }
  .menu {
    display: none;
  }

  /* HERO */
  .hero {
    max-width: 1157px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero@1x-tablet.webp");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero@2x-tablet.webp");
    }
  }

  .main-section {
    max-width: 1157px;
  }
  .hero-container {
    gap: 36px;
  }
  .hero-title {
    color: #ffffff;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
  }
  /* BENEFITS */

  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: space-between;
  }
  .benefits-subtitle {
    text-align: left;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
  .benefits-item {
    width: calc((100% - 2 * 24px) / 2);
  }
  .benefits-item:not(:last-child) {
    margin-bottom: 0;
  }

  /* TEAM */
  .team-container {
    display: flex;
    flex-direction: column;
  }
  .team-list {
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
  .team-card {
    margin-bottom: 0;
  }
  /* CUSTOMERS */
  .customers-list {
    gap: 72px 24px;
  }
  .customers-link {
    width: 168px;
    height: 88px;
  }
  /* MODAL */
  .modal {
    max-width: 408px;
    padding: 72px 23px 24px 23px;
  }
  .modal-caption {
    max-width: 408px;
  }
  /* FOOTER */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    max-width: 768px;
    margin: 0;
  }
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .footer-wrap {
    display: flex;
    align-items: baseline;
    gap: 24px;
    padding-left: 92px;
    margin-bottom: 72px;
  }
  .footer-link {
    text-align: left;
  }
  .footer-socials {
    margin-bottom: 0;
  }
  .footer-title {
    text-align: left;
  }
  .footer-description {
    max-width: 264px;
  }
  .footer-socials-list {
    margin-bottom: 72px;
    text-align: center;

    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .footer-block {
    padding-left: 92px;
  }
  .footer-form {
    display: flex;
    align-items: baseline;
    gap: 24px;
  }
  .subscribe-subtitle {
    text-align: left;
  }
  .subscribe-input {
    min-width: 264px;
    margin-bottom: 0;
  }
  .subscribe-button {
    margin: 0;
  }
}
